/* :host {
 
    --border-top: 1px solid #5288AD;
	--border-bottom: 2px solid #5288AD;
    --table-text-color: white;
} */

.chart-container1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
  }

  .chart-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .chart-labels {
    width: 50%;
    height: 100%;
  }

  .donut_chart {
    width: 100%;
    height: 100%;
  }

  .bar_chart {
    width: 100%;
    height: 100%;
  }
