.accordion {
    width: 100%;
  }
  
  .accordion-item {
    width: 100%;
  }
  
  .accordion-item-header {
    background-color: #eee;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  .accordion-item-header:hover {
    background-color: #ccc;
  }
  
  .accordion-item-content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  
  .accordion-item-header:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .accordion-item-header.active:after {
    content: '\2212';
  }
  